#map {
    height: 100%;
    width: 100%;
    display: none;
    margin: 0 auto;
}
body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    color: #fff;
    background: #222;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
input {
    margin: 1px;
    text-align: center;
    border-radius: 10px;
    height: 17px;
    line-height: 25px;
    font-size: 110%;
    border: 1px solid black;
    padding: 5px;
}
#container {
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}
@media screen and (max-width: 700px) {
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
}
input:focus {
    border: 2px solid blue;
    height: 20px;
}
h2 {
    width: 200px;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    font-size: 180%;
}
a {
    text-decoration: none;
    color: #fff;
}
button {
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 1px solid blue;
    font-size: 105%;
    padding: 9px;
}
button:disabled {
    border: 1px solid black;
    color: #666;
    background-color: #222;
}
button:hover {
    background-color: #004;
    border: 1px solid black;
}
